.apresentacao{
    margin-top: 10% !important;
}

.image-wrapper {
    width: 180px;          /* controla o tamanho */
    height: 180px;         /* altura igual → fica perfeito */
    overflow: hidden;      
    border-radius: 50%;    /* deixa totalmente redondo */
    margin: 0 auto;        /* centraliza */
  }
  
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;     /* mantém proporção e preenche sem distorcer */
  }

 .centralizado{
    text-align: center;
 } 
  