
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

.titulo{
    background-color: rgb(213, 185, 215);
}

.divTittle{
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
      

.div2Resp{
  display: none;
}


.divNav{
    background-color: rgb(213, 185, 215);
    padding-top: 20px;

}

.navLarge{
    
    border-radius: "15px" ;
    box-shadow: "0 4px 8px rgba(0,0,0,0.1)";
    background-color: white;
}
.cloud {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 150px;
    height: 80px;
    border-radius: 50px;
    z-index: 10;
  
    box-shadow: 
    -40px 10px 0 -10px #ffecf1,
    40px 10px 0 -10px #ffecf1,
    -20px -20px 0 -10px #ffecf1,
    20px -20px 0 -10px #ffecf1;
  }
  



.cloud img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* cobre a div sem distorcer */
  }

.divCarrousel{
    width: 470ox;
    height: 253px;

    overflow: hidden;
    border-radius: 40px;
    box-shadow: 0px 5px 25px #b57ef4;

  }

  .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* ajusta a imagem sem distorcer */
  }

  .carousel-item {
    height: 272px; /* altura desejada */
  }
.divPageCarrousel{
    display: flex;
    width: 50vw;
}

.iconConfig{
    width: 110px;
    height: 119px;
    border-radius: 100%;
    overflow: hidden; 

    margin-left:  12em;

}

.iconConfig img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    

}

.divIcon{
    display: flex;
    background-color: #9d8ae9;
}

.iconComp{
    padding: 10px;
}

.footerClass{
    background-color: rgb(139, 69, 19);
}
  

.wave1{
    top: 36px !important;
    height: 0px;
}

.div1{
    padding-top: 57px !important;
}

.div2{
    position: relative;
    margin-top: 49px !important;
    padding-bottom: 37px;
    z-index: 1 !important;
    height: 140px;
}

.div2 section{
    text-align: center;
    font-family: 'Poppins', cursive;
    color: #7b4798;
    margin-bottom: 10px;
    height: 20px;
}

.div2 p{
    color: black;
    margin-left: 196px;
    width: 101px;
    height: 90% ;
    background-color: #7b4798;
    border-radius: 50px;

}
.footerColor{
  background: linear-gradient(to right, #ad47a1, #5b3d7f);
}

.div3{

    display: flex;
    letter-spacing: 6px;
    width: 100vw;

    padding-top: 71px;
    text-align: center;
    height: 17.2vh;
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: larger;
    background-color: sienna !important;
}

.div3 p{
    padding-left: 13em;
}


@media (max-width: 768px) {
    .div1 {
      text-align: center;
      padding: 20px;
    }
  
    .divTittle h1 {
      font-size: 2rem;
      text-align: center;
    }

  
    .divTittle p {
      font-size: 1rem;
      text-align: center;
    }
  
    .order-button {
      display: block;
      margin: 0 auto;
    }
  
    /* Carrossel */
    .col-md-6 {
      width: 100%;
    }
  
    /* Ícones em coluna */
    .divIcon {
      flex-direction: column;
      gap: 20px;
      padding: 40px 0 60px;
    }
  
    .divIcon section {
      margin-bottom: 15px;
    }
  
    .divIcon img {
      width: 95px;
      height: 95px;
    }
  
    /* Botões abaixo dos ícones */
    .buttonIcon {
      left: 0;
      margin-left: 0;
      top: 6px;
    }
  
    /* Footer */
    .footerClass {
      font-size: 0.9rem;
      padding: 20px 10px;
    }

    .carResp{
        margin-top: 21px !important;

    }

    .div2{
        display: none !important;
    }

    .div2Resp{
      display: block;
    }

    .div3{
      padding-top: 71px;
      display: block;
    }

    .div3 p{
      
      padding-left: 0;
  }

   
  }
  
  @media (max-width: 480px) {
    .divTittle h1 {
      font-size: 1.8rem;
    }

    
  
    .divTittle p {
      font-size: 0.95rem;
    }
  
    .divIcon img {
      width: 85px;
      height: 85px;
    }
  
    .order-button {
      font-size: 1rem;
      padding: 8px 20px;
    }
  }
  
  
  
  